.footer-wrapper {
	& ul {
		list-style-type: none;
		padding: 0;
	}

	& li {
		padding: 8px 0;
		text-transform: capitalize;
	}
}

.footer-widgets {
	background-color: #23272b;
	color: white;
	padding-top: 80px;
	padding-bottom: 80px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-top: 1px solid #ebebeb;
}

.sidebar-column {

	.widget {

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.widget-title {
		font-size: 20px;
		margin: 0 0 40px;
	}
}

.site-info {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #595959;
	font-size: 13px;
	text-transform: uppercase;
	border-top: 1px solid #ebebeb;

	a {
		color: #595959;
	}
}