
body {
	font-family: 'Asap', sans-serif;
	font-size: 16px;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: #595959;
	line-height: $font__line-height-body;
}

h1 {
	font-size: 28px;
}
h2 {
	font-size: 22px;
}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
@media (min-width:576px) {
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {

	}
	h4 {

	}
	h5 {

	}
	h6 {

	}
}
@media (min-width:768px) {
	h1 {
		font-size: 30px;
	}
	h2 {

	}
	h3 {

	}
	h4 {

	}
	h5 {

	}
	h6 {

	}
}
@media (min-width:992px) {
	h1 {
		font-size: 34px;
	}
	h2 {

	}
	h3 {

	}
	h4 {

	}
	h5 {

	}
	h6 {

	}
}

@import "headings";

@import "copy";
